* {
  background-color: #5CDB95;
  font-family: "Poppins", sans-serif;
}

div {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 3px solid #05386B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 50vh;
  height: 30px;
  border-radius: 20px;
  background-color:#EDF5E1;
  border: 3px solid #05386B;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}



h4,ul {
  color:#05386B;
  font-size: 20px;
  font-weight: 630;
  overflow-y: auto;
  max-height: 200px;
}

h4 {
  font-weight: 700;
}
.btn {
  width: fit-content;
  font-size: 12px;
  background-color: #05386B;
  color: #EDF5E1;
  margin-top: 20px;
}

 #icon {
  font-size: 15px;
  padding: 0 10px 0 10px;
  color: #020202;
  
 } 

 .btns {
  height: 35px;
  font-size: 12px;
  background-color: #05386B;
  padding: 2px;
  justify-content: space-between;
 }

 .btns span {
  background-color: #05386B;
 }

 #icons {
  font-size: 14px;
  padding: 0 10px 0 10px;
  color: white;
  background-color: #05386B;
 } 
